{{!-- <div>
    {{#each }}
    <h2>{{name}}</h2>
    <span><img src="{{cover_url}}" alt=""></span>
    <button>See tracks</button>
</div> --}}


<div>
    {{#each album}}
    <h2>{{this.name}}</h2>
    <span><img src="{{this.image.0.url}}" alt="album image"></span>
    <button>View tracks</button>
    {{/each}}
</div>