<div>
    {{#each albumsArray}}
    <h2>{{this.name}}</h2>
    <span><img src="{{this.images.1.url}}" alt="Album image"></span>
    <a href="/tracks/{{this.id}}"><button>View track</button></a>
    {{/each}}
</div>