<div>
    {{#each artistsArray}}
    <h2>{{this.name}}</h2>
    <span><img src="{{this.images.1.url}}" alt="Artist image"></span>
    <a href="/albums/{{this.id}}"><button>Show Albums</button></a>
    {{/each}}
</div>